body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  background-color: dodgerblue;
  padding: 10px;
  background-color: darkcyan;
  padding: 10rem;
  border-radius: 2rem;
  color: white;
}

.grid-container > div {
  background-color: cadetblue;
  text-align: center;
  padding: 4rem;
  font-size: 30px;
  border-radius: 1rem;
}

.grid-container > div:hover {
  background-color: rgb(100, 188, 192);
  transition: all ease 0.2s;
}

.enter {
  grid-column: span 2;
}
