body {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.75rem;
  background-color: gainsboro;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
}

.flex-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
