body {
  background: #f7f7f7;
  direction: rtl;
}

table,
td,
th:nth-child(odd) {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}

tr :hover {
  background-color: lightgray;
}

.details-description {
  text-align: right;
}
.button {
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: darkcyan;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover,
.button:focus {
  background-color: #0056b3;
}

.container {
  margin: 7rem;
  background: #fff;
  border-radius: 12px;
  padding: 32px 24px;
  text-align: center;
}

.book-image {
  width: 180px;
  margin-bottom: 18px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}

.description {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.form {
  text-align: center;
  background-color: white;
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

/* Atribute Selector */

[colspan="3"] {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 114, 63, 0.171);
}

#random {
  color: blue;
  font-weight: bold;
}

:focus {
  outline: 2px solid blue;
}
